@charset "utf-8";

body{
	font-family: Arial, sans-serif;
	background-color: #F0FFF0;
	color: rgba(0, 0, 0, 1)
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
#interface{
	width: 70%;
	background-color: #fff;
	margin: -20px auto 0px auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
	padding: 10px;
}
#cabecalho{
	border-bottom: 1px #606060 solid;
	margin: 0px;
}
#cabecalho h1{
	font-family: Arial sans-serif;
	font-size: 40pt;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
	margin: 0px;
	width: 20%;
	color: #2AB81A;
}
#cabecalho h2{
	font-family: Arial sans-serif;
	font-size: 20pt;
	margin-top: -10px;
	padding: 0px;
	color: #1CFB03;
}

#divBusca{
  background-color:#fff;
  border:solid 2px #2AB81A;
  border-radius:10px;
  width:266px;
  height:32px;
  margin-bottom: 5px;
  margin-left: 60%;
  margin-top: 0px;
  position: relative;
}
 
#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px; 
  font-size:18px;
  border:none;
  height:32px;
  width:191px;
}
 
#btnBusca{
  border:none;
  float:left;
  height:32px;
  border-radius:0 7px 7px 0;
  width:70px;
  font-weight:bold;
  background:#2AB81A;
}
#btnBusca a{
	text-decoration: none;
}
#btnBusca a:hover{
	color: #fff;
}

#menu{
	display: block;
}
#menu ul{
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -20px;
	left: 40%;
	
}
#menu li{
	display: inline-block;
	background-color: #2AB81A;
	padding: 10px;
	margin: 2px;
	transition: background-color 1s;
}
#menu li:hover{
	background-color: #00FF7F;
}

#menu a{
	color: #000;
	text-decoration: none;
}
#menu a:hover{
	color: #fff;
}
#menu h1{
	display: none;
}
#tUsuario{
	background-color: #2AB81A;
	margin: 0px;
}
#email, #senha{
	border-color: #929491;
}
/*#img img{
	width: 300px;
	display: block;
}*/
.coluna{
	float: left;
	width: 30.33%;
	height:400px;
	text-align: center;
	line-height:50px;
	margin-top: 20px;
	padding: 10px 10px 10px 10px;
}
.row::after {
	/*content: "";*/
	clear: both;
	display: table;
}
.descricao{
	color: #929491;
	vertical-align: bottom;
}

#rodape{
	clear: both;
	border-top: 1px #606060 solid;
}
#rodape p{
	color: #C0C0C0;
	font-size: 10pt;
	text-align: center;
}

/*Definir as propriedades dos pop ups*/
.modalDialog{
	position: fixed;
	font-family: 'Arial';
	top: 0;
	right: 0;
	bottom:0;
	left: 0;
	/*O '0.9' e a opacidade*/
	background: rgba(79, 79, 79, 0.9);
	z-index: 9999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	display: none;
}

.modalDialog:target{
	display: block;
	opacity: 1;
	pointer-events: auto;
}

.modalDialog div{
	width: 500px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 10px;
	background-color: #fff;
}

.modalDialog p{
	margin-top: 10%;
	margin-bottom: 20%;
}

.modalDialog img{
	width: 50%;
	position: relative;
	margin-left: 25%;
}

.close{
	background-color: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.close a{
	text-decoration: none;
}

.close:hover{
	background-color: #b50909
}
#bt_menu{
	display: none;
}
@media (max-width: 900px) {
	#divBusca{
	  background-color:#fff;
	  border:solid 2px #2AB81A;
	  border-radius:10px;
	  width:200px;
	  height:25px;
	  margin-bottom: 5px;
	  margin-left: 0;
	  margin-top: 100px;
	  position: relative;
	}
	 
	#txtBusca{
	 float:left;
	  background-color:transparent;
	  padding-left:5px; 
	  font-size:18px;
	  border:none;
	  height:25px;
	  width:191px;
	}
	#btnBusca{
	  border:none;
	  float:left;
	  margin-top: -28px;
	  margin-left: 98%;
	  height:27px;
	  border-radius:0 7px 7px 0;
	  width:52px;
	  font-weight:bold;
	  background:#2AB81A;
	}
	#btnBusca a{
		text-decoration: none;
	}
	#btnBusca a:hover{
		color: #fff;
	}
	#menu{
		display: block;
		width: 90%;
	}
	#menu>ul{
		list-style: none;
		text-transform: uppercase;
		position: absolute;
		top: 12%;
		left: 10%;
		width: 90%;
		height: 100px;
	}
	#menu ul li{
		background-color: #2AB81A;
		padding: 10px;
		margin: 2px;
		width: 13%;
		transition: background-color 1s;
	}
	#menu ul li:hover{
		background-color: #00FF7F;
	}

	#menu a{
		color: #000;
		text-decoration: none;
		font-size: 12px;
	}
	#menu a:hover{
		color: #fff;
	}
	#menu h1{
		
	}
	#tUsuario{
	background-color: #2AB81A;
	margin: 0px;
	width: 94%;
	
	}
	#email, #senha{
		border-color: #929491;
		width: 120px;
	}
	#senha{
		
	}
	#emaillabel{
		float: left;
	}
	.coluna{
		float: left;
		width: 25.33%;
		height:200px;
		text-align: center;
		line-height: 50px;
		margin-top: 20px;
		padding: 10px 10px 10px 10px;
	}
}