@charset "utf-8";

input, textarea{
	font-family: sans-serif;
	font-weight: normal;
	font-size: 13pt;
	background-color: rgba(255,255,255,.8);
}
legend{
	color: #888888;
	font-weight: bold;
	font-size: 13pt;
	font-family: sans-serif;
}
fieldset{
	border-color: #cecece;
	margin: 20px;
}
#btnCadastro{
	height: 30px;
}